For a missing file, the following will occur:
- The Try-Except will move to Except, and will output "Could not find file"

For incomplete rows, the script will simply count the empty cells and move past them
- They will not be included in totals or counts
- They will not be removed